<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container" onload="obtenerClientes()">
      <div class="row">
        <h1>Consulta de Clientes</h1>
      </div>
      <div class="row">
        <button on-click="obtenerClientes" type="button" name="button" class="btn btn-success">Click para consultar</button>
      </div>
      <div class="row">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                Id del cliente
              </td>
              <td>
                Nombre del cliente
              </td>
              <td>
                Apellido
              </td>
            </tr>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <!--
                <td>
                  <input type="radio" id="{{item.idcliente}}" name="cliente" value=[[item.idcliente]] onclick="habilitarBtnContinuar()">
                </td>
              -->
                <td>
                [[item.idcliente]]
               </td>
                <td>
                  [[item.nombre]]
                </td>
                <td>
                  [[item.apellido]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <!--
        <div class="row">
          <button on-click="" type="button" name="button" class="btn btn-success continuarMovimientos"  disabled>Click para continuar</button>
        </div>
      -->
      </div>
    </div>
  </template>
  <script>
    /**function habilitarBtnContinuar() {
       document.getElementsByClassName('continuarMovimientos').button.disabled=false
     }*/
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
        var request = new XMLHttpRequest();
        //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET", "http://localhost:3003/Clientes", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        //console.table(this.clientes);
      }


    }
    window.customElements.define(GestorClientes.is, GestorClientes);


  </script>
</dom-module>
