<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container" onload="obtenerMovimientos()">
      <div class="row">
        <h1>Consulta de Movimientos</h1>
      </div>
      <div class="row">
        <button on-click="obtenerMovimientos" type="button" name="button" class="btn btn-success">Click para consultar</button>
      </div>
      <div class="row">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                Fecha del movimiento
              </td>
              <td>
                Importe
              </td>
              <td>
                Descripción
              </td>
              <td>
                Tipo de transacción
              </td>
            </tr>
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td>
                [[item.fecha]]
               </td>
                <td>
                  [[item.importe]]
                </td>
                <td>
                  [[item.descripcion]]
                </td>
                <td>
                  [[item.tipo]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <!--
        <div class="row">
          <button on-click="" type="button" name="button" class="btn btn-success continuarMovimientos"  disabled>Click para continuar</button>
        </div>
      -->
      </div>
    </div>
  </template>
  <script>
    /**function habilitarBtnContinuar() {
       document.getElementsByClassName('continuarMovimientos').button.disabled=false
     }*/
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          movimientos: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerMovimientos() {
        var request = new XMLHttpRequest();
        //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET", "http://localhost:3003/Movimientos", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.movimientos = JSON.parse(request.responseText);
        //console.table(this.clientes);
      }


    }
    window.customElements.define(GestorMovimientos.is, GestorMovimientos);


  </script>
</dom-module>
