<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="registrar-movimientos">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form>

      <input type="text" id="fecha" name="fecha" placeholder="fecha del movimiento" value="{{fecha::input}}">
      <input type="text" id="importe" name="importe" placeholder="importe del movimiento" value="{{importe::input}}">
      <input type="text" id="descripcion" name="descripcion" placeholder="descripcion del movimiento" value="{{descripcion::input}}">
      <input type="text" id="tipo" name="tipo" placeholder="tipo del movimiento" value="{{tipo::input}}">
      <!--<input type="submit" class="fadeIn fourth" value="Log In" on-click="login" name="button">-->
      <button on-click="registrarMovimientos" type="button" name="button" class="btn btn-success">Registrar</button>
    </form>
  </div>
</div>

<!---->

    <iron-ajax
      id="doRegistrarMovimientos"
      url="http://localhost:3003/Movimientos"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistrarMovimientos extends Polymer.Element {
      static get is() { return 'registrar-movimientos'; }
      static get properties() {
        return {
          fecha: {
            type: String
          },
          importe:{
              type: Number
          },
          descripcion: {
            type: String
          },
          tipo:{
            type: String
          }
        };
      }
      registrarMovimientos() {
        /*
      "fecha":"14/08/2020",
      "importe":1500,
      "descripcion":"SPEI RECIBIDO",
      "tipo":"Transferencia interbancaria"
      */
        var movimientoData = {
          "fecha":this.fecha,
          "importe":this.importe,
          "descripcion":this.descripcion,
          "tipo":this.tipo
        };
        console.log(movimientoData);
        this.$.doRegistrarMovimientos.body = JSON.stringify(movimientoData);
        this.$.doRegistrarMovimientos.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(data) {
        console.log("Registro exitoso");
        alert("Registro exitoso");
      }
      showError(error) {
        console.log("Ocurrio un error");
        alert("No se registro el movimiento");
        console.log(error);
      }
    }
    window.customElements.define(RegistrarMovimientos.is, RegistrarMovimientos);
  </script>

</dom-module>
