<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="registrar-usuario">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form>
      <input type="text" id="usuario" name="usuario" placeholder="usuario/email" value="{{email::input}}">
      <input type="password" id="password" name="password" placeholder="password" value="{{password::input}}">
      <!--<input type="submit" class="fadeIn fourth" value="Log In" on-click="login" name="button">-->
      <button on-click="registrar" type="button" name="button" class="btn btn-success">Registrar</button>
    </form>
  </div>
</div>

<!---->

    <iron-ajax
      id="doRegistrar"
      url="http://localhost:3003/Registrar"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class RegistrarUsuario extends Polymer.Element {
      static get is() { return 'registrar-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        };
      }
      registrar() {
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        console.log(loginData);
        this.$.doRegistrar.body = JSON.stringify(loginData);
        this.$.doRegistrar.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(data) {
        console.log("Registro exitoso");
        alert("Registro exitoso");
      }
      showError(error) {
        console.log("Ocurrio un error");
        alert("No se registro el usuario");
        console.log(error);
      }
    }
    window.customElements.define(RegistrarUsuario.is, RegistrarUsuario);
  </script>

</dom-module>
