<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
Access-Control-Allow-Origin: *
<dom-module id="expand-bitly">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form>

      <input type="text" id="bitlink_id" name="bitlink_id" placeholder="url de bitly" value="{{bitlink_id::input}}">
      <!--<input type="submit" class="fadeIn fourth" value="Log In" on-click="login" name="button">-->
      <button on-click="expandBitly" type="button" name="button" class="btn btn-success">Expandir información</button>
    </form>
  </div>
</div>

<!---->

    <iron-ajax
      id="doExpandBitly"
      url="http://localhost:3003/bitly/expand"
      content-type="application/json"
      crossDomain:true
      dataType:'jsonp'
      method="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError"></iron-ajax>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class ExpandBitly extends Polymer.Element {
      static get is() { return 'expand-bitly'; }
      static get properties() {
        return {
          bitlink_id: {
            type: String
          },
          long_url: {
              type: String,
            }
        };
      }
      expandBitly() {
        var bitlyData = {
          "bitlink_id":this.bitlink_id
        };
        console.log(bitlyData);
        this.$.doExpandBitly.body = JSON.stringify(bitlyData);
        request=this.$.doExpandBitly.generateRequest();
        console.log("Petición enviada");
      }
      manageAJAXResponse(data) {
        console.log("Registro exitoso");
        alert(data.detail.response["long_url"])
      }
      showError(error) {
        console.log("Ocurrio un error");
        alert("No se realizó la consulta correctamente");
        console.log(error);
      }
    }
    window.customElements.define(ExpandBitly.is, ExpandBitly);
  </script>

</dom-module>
